@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>وضعيت كلي باشگاه</h1>
    <p class="lead"></p>
    <p><a href="~/Home/dashboard" class="btn btn-primary btn-lg">جزئيات بيشتر &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>مديريت مالي</h2>
        <p>در اين بخش قابليت‌هايي نظير ثبت هزينه ثبت نام، ثبت هزينه برگزاري كلاس آموزشي و ... وجود دارد.</p>
        <p><a class="btn btn-primary" href="~/finance/">امكانات بيشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>بازيكنان</h2>
        <p>در اين بخش  قابليت‌هايي نظير ثبت‌نام اوليه بازيكن، ثبت بازيكن در دوره، ثبت مشاركت بازيكن در كلاس آموزشي و ... در دسترس مي‌باشد.</p>
        <p><a class="btn btn-primary" href="~/players/">امكانات بيشتر &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>کلاس‌های آموزشی</h2>
        <p>
            مديريت كلاس‌هاي آموزشي، ثبت كلاس‌هاي برگزار شده، و ...از امكانات موجود در اين بخش مي‌باشد.
        </p>
        <p><a class="btn btn-primary" href="~/club/">امكانات بيشتر &raquo;</a></p>
    </div>
</div>