@model IEnumerable<ClubAdministration.Models.system.groups>

<div id="groupPanel" class="col-2">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.title, "groups", new { id = item.ID, controller = "groups" })
    }
</div>

