@model IEnumerable<ClubAdministration.Models.system.permissions>

<div id="groupPanel" class="col-2">
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.title, "Details", new { id = item.ID, controller = "permissions" })
    }
</div>

