@model IEnumerable<ClubAdministration.Models.ViewModels.training_plan_preview>
@{
    ViewBag.Title = "تقويم برنامه‌ريزي تمرين  " + ViewBag.training;
}
<style>
    .calendar-body{
        height : calc(100vh - 165px);
        width:90%;
        padding-left:130px;
    }
    .calendar-header{
        padding-left:30%;
    }
</style>

@using (Html.BeginForm("Preview", "trainings", new { id = ViewBag.training_id }, FormMethod.Post, new { id = "trainingsform", name = "trainingsform" }))
{
    @Html.AntiForgeryToken()
    @widgets.common.ribbon.Show_Ribbon(Url, "training.preview.default", "تقويم برنامه ريزي تمرين  " + ViewBag.training, new { id = ViewBag.training_id })

    @widgets.common.search.Show_Search_Form(ViewBag.search)

    <div class="border rounded p-0 mb-3 mt-2 shadow-sm text-center" style="font-size:0.8em">
        <h2 class="bg-light shadow-sm border-bottom mb-3 rounded-top pt-3 pb-3">تقويم برنامه تمريني <span style="font-weight:bold;color:brown">@ViewBag.training</span></h2>
        <div class="px-2">
            @*<div class="calendar-body">
                <div id="calendar">

                </div>
            </div>
            <div id="MyPopup" class="modal fade modal-CreateEvent" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">
                                OK
                            </button>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
}
<script src="~/Scripts/calendar/moment.min.js"></script>
<script src="~/Scripts/calendar/fullcalendar.js"></script>
