@model ClubAdministration.Models.system.groups

@widgets.common.ribbon.Show_Ribbon(Url, "roles.details.default", "جزئيات نقش " + (" " + Model.title), rootParams: new { id = Model.ID })

<div class="mt-2 rounded-bottom shadow-sm mb-4">
    <h3 class="text-center rounded-top p-3 border bg-light m-0">اطلاعات پايه</h3>
    <div class="rounded-bottom px-2 py-2 border border-top-0 ">
        <table class="table table-striped table-responsive-sm">
            <tr>
                <td>
                    كد شناسايي
                </td>
                <td>
                    @Html.DisplayFor(model => model.ID)
                </td>
            </tr>
            <tr>
                <td>
                    نقش كاربري
                </td>
                <td>
                    @Html.DisplayFor(model => model.title)
                </td>
            </tr>
        </table>
    </div>
</div>
