@font-face{
    font-family: "Yekan";
    font-style: normal;
    font-weight: normal;
    src: url("BYekan.eot#iefix") format("eot"), url("BYekan.woff") format("woff"), url("BYekan.ttf") format("truetype");
}